.logout-btn {
  background: transparent;
  border: 0;
  cursor: pointer;

  svg {
    width: 35px;
    height: 35px;
  }

  &:hover {
    svg g path {
      fill: #00abfa;
    }
  }
}
